	<!-- Bottom Scripts -->
	<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
	<script src="__PUBLIC__/common/js/TweenMax.min.js"></script>
	<script src="__PUBLIC__/common/js/resizeable.js"></script> 
 	<script src="__PUBLIC__/common/js/joinable.js"></script>
	<script src="__PUBLIC__/common/js/xenon-api.js"></script>
	<script src="__PUBLIC__/common/js/xenon-toggles.js"></script> 


	<!-- Imported scripts on this page -->
 	<script src="__PUBLIC__/common/js/xenon-widgets.js"></script>
	<script src="__PUBLIC__/common/js/devexpress-web-14.1/js/globalize.min.js"></script>
	<script src="__PUBLIC__/common/js/devexpress-web-14.1/js/dx.chartjs.js"></script>
	<script src="__PUBLIC__/common/js/toastr/toastr.min.js"></script> 


	<!-- JavaScripts initializations and stuff -->
	<script src="__PUBLIC__/common/js/xenon-custom.js"></script>