<div class="sidebar-menu toggle-others fixed">
	<div class="sidebar-menu-inner">	
		<header class="logo-env">
			<!-- logo -->
			<div class="logo">
				<a href="dashboard-1.html" class="logo-expanded">
					<img src="__PUBLIC__/user/img/logo@2x.png" width="80" alt="" />
				</a>
				<a href="dashboard-1.html" class="logo-collapsed">
					<img src="__PUBLIC__/user/img/logo-collapsed@2x.png" width="40" alt="" />
				</a>
			</div>
			<!-- This will toggle the mobile menu and will be visible only on mobile devices -->
			<div class="mobile-menu-toggle visible-xs">
				<a href="#" data-toggle="user-info-menu">
					<i class="fa-bell-o"></i>
					<span class="badge badge-success">7</span>
				</a>
				<a href="#" data-toggle="mobile-menu">
					<i class="fa-bars"></i>
				</a>
			</div>
			<!-- This will open the popup with user profile settings, you can use for any purpose, just be creative -->
			<div class="settings-icon">
				<a href="#" data-toggle="settings-pane" data-animate="true">
					<i class="linecons-cog"></i>
				</a>
			</div>
		</header>
		<ul id="main-menu" class="main-menu">
			<li <if condition="'Author' eq $Think.CONTROLLER_NAME">class="opened active"</if>>
				<a href="extra-gallery.html">
					<i class="linecons-user"></i>
					<span class="title">用户管理</span>
					<!-- <span class="label label-purple pull-right hidden-collapsed">New 12</span> -->
				</a>
				<ul>
					<li>
						<a href="{:U('User/Author/list_user')}">
							<i class="fa fa-list-ul"></i>
							<span class="title">用户列表</span>
							<!-- <span class="label label-warning pull-right">4</span> -->
						</a>
					</li>
					<li>
						<a href="{:U('User/Author/add_user')}">
							<i class="fa fa-plus"></i>
							<span class="title">添加用户</span>
							<!-- <span class="label label-warning pull-right">4</span> -->
						</a>
					</li>
				</ul>
			</li>
			<li <if condition="'Right' eq $Think.CONTROLLER_NAME">class="opened active"</if>>
				<a href="extra-gallery.html">
					<i class="fa fa-key"></i>
					<span class="title">权限管理</span>
					<!-- <span class="label label-purple pull-right hidden-collapsed">New 12</span> -->
				</a>
				<ul>
					<li>
						<a href="{:U('User/Right/list_right')}">
							<i class="fa fa-list-ul"></i>
							<span class="title">权限列表</span>
							<!-- <span class="label label-warning pull-right">4</span> -->
						</a>
					</li>
					<li>
						<a href="{:U('User/Right/list_role')}">
							<i class="fa fa-child"></i>
							<span class="title">角色管理</span>
							<!-- <span class="label label-warning pull-right">4</span> -->
						</a>
					</li>
				</ul>
			</li>
			<li <if condition="'Team' eq $Think.CONTROLLER_NAME">class="opened active"</if>>
				<a href="#">
					<i class="fa fa-group"></i>
					<span class="title">团队管理</span>
					<!-- <span class="label label-purple pull-right hidden-collapsed">New 12</span> -->
				</a>
				<ul>
					<li>
						<a href="{:U('User/Team/list_team')}">
							<i class="fa fa-list-ul"></i>
							<span class="title">团队列表</span>
							<!-- <span class="label label-warning pull-right">4</span> -->
						</a>
					</li>
					
					<li>
						<a href="{:U('User/Team/list_apply')}">
							<i class="fa fa-file-o"></i>
							<span class="title">团队申请</span>
							<span class="label label-warning pull-right">4</span>
						</a>
					</li>
				</ul>
			</li>
			<li <if condition="'Project' eq $Think.CONTROLLER_NAME">class="opened active"</if>>
				<a href="extra-gallery.html">
					<i class="fa fa-github-alt"></i>
					<span class="title">项目管理</span>
					<!-- <span class="label label-purple pull-right hidden-collapsed">New 12</span> -->
				</a>
				<ul>
					<li>
						<a href="{:U('User/Project/list_project')}">
							<i class="fa fa-list-ul"></i>
							<span class="title">项目列表</span>
							<!-- <span class="label label-warning pull-right">4</span> -->
						</a>
					</li>
					<li>
						<a href="extra-icons-fontawesome.html">
							<i class="fa fa-plus"></i>
							<span class="title">发布项目</span>
							<!-- <span class="label label-warning pull-right">4</span> -->
						</a>
					</li>
					<li>
						<a href="{:U('list_project_apply')}">
							<i class="fa fa-file-o"></i>
							<span class="title">项目申请</span>
							<span class="label label-warning pull-right">4</span>
						</a>
					</li>
				</ul>
			</li>
			<li <if condition="'Setting' eq $Think.CONTROLLER_NAME">class="opened active"</if>>
				<a href="extra-gallery.html">
					<i class="fa fa-gears"></i>
					<span class="title">系统设置</span>
					<!-- <span class="label label-purple pull-right hidden-collapsed">New 12</span> -->
				</a>
				<ul>
					<li>
						<a href="extra-icons-fontawesome.html">
							<i class="fa fa-info"></i>
							<span class="title">网站信息</span>
							<!-- <span class="label label-warning pull-right">4</span> -->
						</a>
					</li>
					<li>
						<a href="{:U('User/Setting/list_menu')}">
							<i class="fa fa-paper-plane"></i>
							<span class="title">导航管理</span>
						</a>
					</li>
					<li>
						<a href="{:U('User/Setting/list_skill')}">
							<i class="fa fa-tags"></i>
							<span class="title">技能标签</span>
						</a>
					</li>
					<li>
						<a href="extra-icons-fontawesome.html">
							<i class="fa fa-copy"></i>
							<span class="title">数据库备份</span>
							<!-- <span class="label label-warning pull-right">4</span> -->
						</a>
						<ul>
							<li>
								<a href="">
									<i></i>
									<span class="title">备份数据库</span>
								</a>
							</li>
							<li>
								<a href="">
									<i></i>
									<span class="title">还原数据库</span>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>