<!DOCTYPE html>
<html lang="en">
<head>
	<include file="Common:headlink"/>	

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	
</head>
<body class="page-body">
	<include file="Common:setting"/>
	<div class="page-container">
		<!-- left menu -->
		<include file="Common:leftnav"/>
		<!-- end -->

		<div class="main-content">
			<include file="Common:headnav"/>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">添加项目</h3>
							<div class="panel-options">
								<a href="#" data-toggle="panel">
									<span class="collapse-icon">&ndash;</span>
									<span class="expand-icon">+</span>
								</a>
								<a href="#" data-toggle="remove">
									&times;
								</a>
							</div>
						</div>
						<div class="panel-body">
							<form role="form" class="form-horizontal" method="post" action="{:U('User/Project/add_project')}">
								<div class="form-group">
									<label class="col-sm-2 control-label" for="field-1">项目名称：</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" id="field-1" name="project_name" placeholder="">
									</div>
								</div>
								<div class="form-group-separator"></div>

								<div class="form-group">
									<label class="col-sm-2 control-label">技能选择：</label>
										
									<script type="text/javascript">
										jQuery(document).ready(function($)
										{
											$("#s2example-2").select2({
												placeholder: '选择擅长的技能',
												allowClear: true
											}).on('select2-open', function()
											{
												// Adding Custom Scrollbar
												$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
											});
											
										});
									</script>
									<div class="col-sm-10">
										<select class="form-control" id="s2example-2" name="skill[]" multiple>
											<option></option>
											<optgroup label="请选择熟悉的技能">
												<volist name="skill" id="v">
													<option value="{$v.name}">{$v.name}</option>
												</volist>
											</optgroup>
										</select>
									</div>
								</div>
								<div class="form-group-separator"></div>

								<div class="form-group">
									<label class="col-sm-2 control-label">申请截止日期：</label>
									<div class="col-sm-10">
										<input type="text" class="form-control datepicker" data-start-date="-2d" name="apply_end">
									</div>
								</div>
								<div class="form-group-separator"></div>

								<div class="form-group">
									<label class="col-sm-2 control-label">项目交付时间：</label>
									<div class="col-sm-10">
										<input type="text" class="form-control datepicker" data-start-date="-2d" name="project_end">
									</div>
								</div>
								<div class="form-group-separator"></div>

								<div class="form-group">
									<label class="col-sm-2 control-label">是否发布：</label>
									<div class="col-sm-10">
										<label class="radio-inline">
											<input type="radio" name="status" value="1">
											是
										</label>
										<label class="radio-inline">
											<input type="radio" name="status" value="0" checked>
											否
										</label>
									</div>
								</div>
								<div class="form-group-separator"></div>
							
								<div class="form-group">
									<label class="col-sm-2 control-label" for="field-5">项目描述：</label>
									<div class="col-sm-10">
										<textarea class="form-control autogrow" cols="5" id="field-5" name="project_desc" placeholder="少于200字"></textarea>
									</div>
								</div>
								<div class="form-group-separator"></div>

								<div class="form-group">
									<div class="col-sm-2 control-label">
										<button class="btn btn-primary" type="submit">提交</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<include file="Common:footnav"/>
		</div>
	<include file="Common:footlink"/>
	<link rel="stylesheet" href="__PUBLIC__/common/js/select2/select2.css">
	<link rel="stylesheet" href="__PUBLIC__/common/js/daterangepicker/daterangepicker-bs3.css">
	<link rel="stylesheet" href="__PUBLIC__/common/js/select2/select2-bootstrap.css">

	<script src="__PUBLIC__/common/js/tagsinput/bootstrap-tagsinput.min.js"></script>
	<script src="__PUBLIC__/common/js/select2/select2.min.js"></script>
	<script src="__PUBLIC__/common/js/datepicker/bootstrap-datepicker.js"></script>

</body>
</html>