<!DOCTYPE html>
<html lang="zh-cn">
  <head>
  <title>Bootstrap</title>
  <include file="Common:headlink"/>
    <style type="text/css">
    	.starter-template {
		    padding: 40px 15px;
		    text-align: center;
		}
    </style>
  </head>
  <body>
  <include file="Common:headnav"/>
    <div class="container">
      <div class="starter-template">
        <h1>alonehover毕业设计</h1>
        <p class="lead">基于html5的校园项目团队管理系统</p>
      </div>
    </div><!-- /.container -->
    <include file="Common:footlink"/>
  </body>
</html>