<!DOCTYPE html>
<html lang="zh-cn">
  <head>
	  <include file="Common:headlink"/>
	  <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/home.css"/>
  </head>
  <body>
  	<include file="Common:headnav"/>
  	<div class="container">
  		<div class="item-list">
		  	<div class="row">
		  		<div class="col-sm-6 col-md-4 col-lg-3 ">
		          <div class="thumbnail text-center">
		            <a href="" title="" target="_blank" onclick="">
		              <img class="lazy" src="__PUBLIC__/home/img/sm_bg.jpg" width="300" height="150" data-src="__PUBLIC__/img/sm_bg.jpg" alt="Mteam">
		            </a>
		            <div class="caption">
		              <h3> 
		                <a href="" title="" target="_blank" onclick="">Mteam虚位以待<br></a>
		              </h3>
		            </div>
		          </div>
		        </div>
		  	</div>
	  	</div>
	</div>
  	<footer class="footer">
      <div class="container">
        <hr>
        <div class="row footer-bottom">
          <ul class="list-inline text-center">
            <li><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11008151号</a></li><li>京公网安备11010802014853</li>
          </ul>
        </div>
      </div>
    </footer>
    <include file="Common:footlink"/>
  </body>
</html>