<!DOCTYPE html>
<html lang="zh-cn">
  <head>
	  <include file="Common:headlink"/>
	  <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/home.css"/>
  </head>
  <body>
  	<include file="Common:headnav"/>
	<div class="jumbotron">
	  <div class="container">
	    <h1>hello,world!</h1>
	    <div class="row team-search">
	    	<div class="input-group col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3">
		      <input type="text" class="form-control " placeholder="Search Team...">
		      <span class="input-group-btn">
		        <a class="btn btn-default" ><i class="fa fa-search"></i></a>
		      </span>
		    </div><!-- /input-group -->
	    </div>
	  </div>
	</div>
  	<div class="container">
  		<div class="item-content">
		  	<div class="row">
		  		<volist name="team" id="v">	
			  		<div class="col-sm-6 col-md-4 col-lg-3 ">
			          <div class="thumbnail text-center">
			            <a href="{:U('Home/Team/team_info',array('id'=>$v['id']))}" title="" target="_blank" onclick="">
			              <img class="lazy" src="<empty name='v.img'>__PUBLIC__/home/img/sm_bg.jpg<else/>{$v.img}</empty>" width="300" height="150" data-src="{$v.img}" alt="{$v.name}">
			            </a>
			            <div class="caption">
			              <h3> 
			                <a href="{:U('Home/Team/team_info',array('id'=>$v['id']))}" title="" target="_blank" onclick="">{$v.name}<br></a>
			              </h3>
			              <ul class="list-inline">
			              	<volist name="v.skill" id="vo">	
			              		<li><span class="label label-info">{$vo}</span></li>
			              	</volist>
			              </ul>
			            </div>
			          </div>
			        </div>
			    </volist>
		  	</div>
	  	</div>
	</div>
	<include file="Common:footnav"/>
    <include file="Common:footlink"/>
  </body>
</html>