<!DOCTYPE html>
<html lang="zh-cn">
  <head>
	  <include file="Common:headlink"/>
	  <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/home.css"/>
  </head>
  <body>
  	<include file="Common:headnav"/>
  	<div class="container">
	  	<div class="row item-content">
		  	<div class="col-sm-6">
		  		<div class="row">
				    <a href="#" class="thumbnail">
				      <img src="__PUBLIC__/home/img/sm_bg.jpg" alt="..." class="img-rounded">
				    </a>
				</div>
		  	</div>
		  	<div class="col-sm-6">
				<h1>Mteam</h1><hr/>
				<ul class="list-inline">
					<li><strong>团队成员：</strong><span class="text-primary">5</span>人</li>
					<li><strong>完成项目：</strong><span class="text-primary">5</span>个</li>
				</ul>
				<ul class="list-inline">
					<li><span class="label label-info">php</span></li>
					<li><span class="label label-info">php</span></li>
				</ul>
				<blockquote>
				  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
				</blockquote>

				
				<a href="" class="btn btn-default btn-lg">申请加入</a>
		  	</div>  	  		
	  	</div>
	  	<div class="row">
	  		<div class="page-header"><blockquote><p>团队简介</p></blockquote></div>
	  		<p></p>
	  		<div class="alert alert-warning text-center" role="alert">暂无相关简介</div>
	  	</div>
		<div class="row">
			<div class="page-header"><blockquote><p>团队成员</p></blockquote></div>
			<div class="col-sm-2 col-xs-6">
			    <div class="thumbnail">
			      <img src="__PUBLIC__/home/img/untitled.png" alt="..." class="img-circle">
			      <div class="caption text-center">
			        <kbd>Thumbnail label</kbd>
			        <p>个人简介</p>
			      </div>
			    </div>
			</div>
			<div class="col-sm-2 col-xs-6">
				<div class="thumbnail">
			      <img src="__PUBLIC__/home/img/untitled.png" alt="..." class="img-circle">
			      <div class="caption text-center">
			        <kbd>Thumbnail label</kbd>
			        <p>个人简介</p>
			      </div>
			    </div>
			</div>
			<div class="col-sm-2 col-xs-6">
				<div class="thumbnail">
			      <img src="__PUBLIC__/home/img/untitled.png" alt="..." class="img-circle">
			      <div class="caption text-center">
			        <kbd>Thumbnail label</kbd>
			        <p>个人简介</p>
			      </div>
			    </div>
			</div>
			<div class="col-sm-2 col-xs-6">
				<div class="thumbnail">
			      <img src="__PUBLIC__/home/img/untitled.png" alt="..." class="img-circle">
			      <div class="caption text-center">
			        <kbd>Thumbnail label</kbd>
			        <p>个人简介</p>
			      </div>
			    </div>
			</div>
		</div>
  	</div>
    <include file="Common:footnav"/>
    <include file="Common:footlink"/>
  </body>
</html>