<!DOCTYPE html>
<html lang="zh-cn">
  <head>
	  <include file="Common:headlink"/>
	  <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/home.css"/>
  </head>
  <body>
  	<include file="Common:headnav"/>
  	<div class="container">
  		<div class="item-content item-shadow">
		  	<div class="row">
		  		<table class="table table-hover text-center project-list">
		  			<thead>
						  <tr>
						  	<th class="text-center">项目名称</th>
						  	<th class="text-center">技术需求</th>
						  	<th class="text-center">发布时间</th>
						  	<th class="text-center">状态</th>
						  </tr>
				  	</thead>
					<tbody>
						<volist name="list" id="v">
						  <tr>
						  	<td><a href="#" class="proname" data-toggle="modal" data-target="#myModal" data-id="{$v.id}">{$v.name}</a></td>
						  	<td>
						  		<volist name="v.skill" id="s">
						  			<span class="label label-info" style="margin-right:5px">{$s}</span> 
								</volist>
						  	</td>
						  	<td>{$v.public_time|date="Y-m-d",###}</td>
						  	<td><a href="" class="">立即申请</a></td>
						  </tr>
						</volist>
					  </tbody>
				</table>
		  	</div>
	  	</div>
	</div>
	<!-- 模拟窗 -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">项目介绍</h4>
	      </div>
	      <div class="modal-body">
	        <p class="text-center"><i class="fa fa-spinner"></i></p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	        <button type="button" class="btn btn-primary">立即申请</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- 模拟窗 end -->
	<include file="Common:footnav"/>
  	<include file="Common:footlink"/>
  	<script type="text/javascript">
  	$(function(){
  		$('.proname').click(function(){
  			var id = $(this).attr('data-id');
		    		    console.log(id);
		    $.ajax({
		    	type:"post",
		    	url:'{:U("Home/Project/get_info")}',
		    	data:{'id':id},
		    	cache:false,
		    	success: function(data) {
		    		$('.modal-body').html(data);
		    	}
		    });
  		});
  	})

  		$('#myModal').on('shown.bs.modal', function () {
		    // $('#myInput').focus()
		  })
  	</script>
  </body>
</html>