.masthead {
	padding: 70px 0 80px;
	margin-bottom: 0;
	color: #fff;
}

.row{
  margin: 0;
}

@media screen and (min-width: 768px){
	.masthead {
	  padding: 90px 0 110px;
	}
}

.jumbotron {
  position: relative;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: #000; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #a00 0%, #500 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#000), color-stop(100%,#500)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #000 0%,#500 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #000 0%,#500 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #000 0%,#500 100%); /* IE10+ */
  background: linear-gradient(45deg,  #000 0%,#333 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#500',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    &:after{
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: url(../img/bs-docs-masthead-pattern.png) repeat center center;
		opacity: .4;
	  }
}
.jumbotron h1 {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 30px;
}
.jumbotron .container {
  position: relative;
  z-index: 2;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1) {
  .jumbotron:after {
    background-size: 150px 150px;
  }
}

.item-content{
  margin-top: 20px;
}
.team-search{
  margin-top: 3%;
}
.form-sign{
  width: 330px;
}

.item-shadow{
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
  border-radius: 5px;
  padding:0px 20px;
}

.project-list tbody>tr>td,.project-list thead>tr>th{
  line-height: 40px;
  max-width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.dl-team{
  min-height: 120px;
}
.dl-team dt {
  float: left;
  width: 35%;
  overflow: hidden;
  clear: left;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 30px;
}
.dl-team dd {
  /*margin-left: 35%;*/
  text-align: left;
  line-height: 30px;
}

.caption .caption-head{
  line-height: 40px;
  font-size: 18px;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px #eee solid;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
