  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{:U('Home/Index/index')}">MTeam</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li <if condition="'index' eq $active">class="active"</if>><a href="{:U('Home/Index/index')}">首页</a></li>
          <li <if condition="'team' eq $active">class="active"</if>><a href="{:U('Home/Team/index')}">团队</a></li>
          <li <if condition="'project' eq $active">class="active"</if>><a href="{:U('Home/Project/index')}">项目</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <if condition="session('stunum')">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <empty name="MYINFO.authorname">{$Think.session.stunum}<else/>{$MYINFO.authorname}</empty>
              <span class="caret">
            </a>
            <ul class="dropdown-menu" role="menu">
            <if condition="$MYINFO.leader eq 0">
              <li><a href="{:U('Home/Team/team_creat')}">创建团队</a></li>
            <elseif condition="$MYINFO.leader eq 1"/>
              <li><a href="{:U('User/Index/index')}">管理团队</a></li>
            <else/>
              <li><a href="#">我的团队</a></li>
            </if>
              <li><a href="#">个人信息</a></li>
            </ul>
          </li>
          <li><a href="{:U('Home/Sign/signout')}" tppabs="">[退出]</a></li>
        <else/>
          <li><a href="{:U('Home/Sign/signin')}" tppabs="">登录</a></li>
          <li><a href="{:U('Home/Sign/signup')}" tppabs="">注册</a></li>
        </if>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
