<meta charset="utf-8">
<title>MGroup</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/common/css/style.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/fonts/fontawesome/css/font-awesome.min.css">
<script src="__PUBLIC__/common/js/jquery-1.11.1.min.js"></script>

<!--[if lt IE 9]>
  <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->